/* Variable taille */
$size-h1: 25px;
$size-title-hall-dish-dessert: 18px;

/* Variable couleur */
$color-primary: #9256dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: white;
$color-back: #f2f2f2;
$color-back-relief: #d9d9d9;
$color-back-relief-lien: #bababa;
$back-color-btn-lien: #dff2ff;
$color-icone: #7e7e7e;
$color-footer: #303030;
