/* Variable taille */
$size-h1 : 25px;
$size-title-hall-dish-dessert : 18px;

/* Variable couleur */
$color-primary : #9256dc;
$color-secondary :  #FF79DA;
$color-tertiary : #99E2D0;
$color-white : white;
$color-back : #F2F2F2;
$color-back-relief : #d9d9d9;
$color-back-relief-lien : #BABABA;
$back-color-btn-lien : #DFF2FF;
$color-icone : #7e7e7e;
$color-footer : #303030;
 
